:root { 
--white_A700_7f:#ffffff7f; 
--gray_50_01:#f7f8fa; 
--gray_50_02:#fcfcfc; 
--red_800:#d11c24; 
--red_300:#ad6359; 
--amber_A400:#fac600; 
--gray_50:#fffafa; 
--teal_400:#22b37f; 
--yellow_600:#fedf30; 
--black_900_01:#060919; 
--black_900:#000000; 
--teal_700:#227e74; 
--gray_500_01:#a6a6a6; 
--yellow_900:#ff7b12; 
--blue_gray_800:#37474f; 
--black_900_29:#00000029; 
--blue_gray_700:#51495b; 
--blue_gray_900_01:#263238; 
--red_700_87:#ed1c2487; 
--blue_gray_900:#333333; 
--black_900_02:#030402; 
--black_900_26:#00000026; 
--gray_600:#707070; 
--gray_700:#595959; 
--gray_400:#baafb9; 
--white_A700_e2:#ffffffe2; 
--gray_500:#aa9ea9; 
--blue_gray_100:#cccaca; 
--gray_600_01:#818181; 
--blue_700:#0575e6; 
--black_900_e2:#000000e2; 
--red_A100:#f88282; 
--gray_800:#3d3d3d; 
--gray_900:#222222; 
--gray_200:#eaeaea; 
--black_900_2d:#0000002d; 
--gray_300:#dbdbdb; 
--white_A700_87:#ffffff87; 
--black_900_99:#07070799; 
--gray_400_01:#c7c7c7; 
--white_A700:#ffffff; 
--gray_700_01:#5f6060; 
}